{% extends 'base.html' %}
{% load static %}

{% load bootstrap %}

{% block title %} Query Page {% endblock %}

{% block content %}
<div class="container">

<div class="row justify-content-center" style="margin-left:10%;">

                <div class="col-lg-10 mb-8 mb-lg-0">
                    <center> <h3>Location On Map</h3></center>
                    
                    
        <!--img src="https://i.natgeofe.com/n/a25e30a6-4081-41e0-a494-cdb469343b58/kids-beginners-world-edu-k-3-clip-1900x1900-gradient_4x3.jpg"-->  
                    <img src="{% static 'map.png' %}" alt="home" /> 
        
                    <!--<form action="" method="POST" >{% csrf_token %}-->

                    


                    <!--</form>-->
                </div>

            </div>
        </div>

{% endblock %}